.DS_Store
/Pods
MovieFan/Secrets.swift

### Xcode ###
## User settings
xcuserdata/
MovieFan.xcodeproj/xcuserdata/
MovieFan.xcodeproj/project.xcworkspace/xcuserdata


### Xcode Patch ###
MovieFan.xcodeproj/
MovieFan.xcworkspace/
*.xcodeproj/project.pbxproj
*.xcodeproj/xcshareddata/
*.xcodeproj/project.xcworkspace/
*.xcworkspace/contents.xcworkspacedata
*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

# End of https://www.toptal.com/developers/gitignore/api/xcode
